
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
                    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="renderer" content="webkit">
<meta name="keywords" content=""/>
<meta name="description" content="" />
<link rel="shortcut icon" href="https://www.xiaozhu.com/favicon.ico" type="image/vnd.microsoft.icon">
<link rel="icon" href="https://www.xiaozhu.com/favicon.ico" type="image/vnd.microsoft.icon">
<title>发布您的房间</title>        <link rel="stylesheet" type="text/css" href="//jci.xiaozhustatic1.com/e19061701/xzcss?css=base,header,footer,publishRoomV2,photoScroll,jquery-ui,nyroModal,mysite" />
    </head>
    <body>
            <div class="header height56">
                <div class="top"></div>
                 
<!--[if lte IE 7]>
<div style="background:#f16b80;  width:100%; height:50px; line-height:50px; text-align:center; font-size:14px; color:#fff; font-family:"微软雅黑";>
    温馨提示：您目前的浏览器版本过低，网站部分功能无法正常使用，建议尽快升级：
        <a href="http://www.microsoft.com/china/windows/IE/upgrade/index.aspx" name="升级ie浏览器" id="upgrade_ie" target="_blank" style=" display:inline-block;width:154px; height:40px;  vertical-align:middle;  margin:0 18px 0 12px;_margin-top:4px;"><img src="/images/ie.jpg" width="154" height="40"/></a>
             或安装
        <a href="http://www.firefox.com.cn" target="_blank" name="升级火狐浏览器" id="upgrade_firefox" style="display:inline-block;width:154px; height:40px;  vertical-align:middle;  margin:0 18px 0 12px;_margin-top:4px;"><img src="/images/firefox.jpg" width="154" height="40"/></a>
</div>
<![endif]-->

<div class="detail_wrapper">
    <div class="detail_head clearfix">
        <a href="http://www.xiaozhu.com" class="xz_logo_detail">小猪</a><span class="slogan_v2 slogan_black"></span>
        <ul class="nav_R nav_commen">
                        <input type="hidden" value="landlord" id="userCurrentRole"/>
            <input type="hidden" value="106084124101" id="loginUserId"/>
                        <li class="current">
                <a href="#ongo" class="openTri_R" rel="nofollow">ufumqs</a>
                <div class="head_pop top40">
                    <div class="pop_column">
                        <a class="pop_T" href="http://www.xiaozhu.com/xzweb.php?op=FangDong_Index">房东中心</a>
                        <span>
                            <a class="fl" href="http://www.xiaozhu.com/xz_web2/order/pages/landlord/orderList.html">订单管理</a>
                            <a class="fr" href="http://www.xiaozhu.com/xzweb.php?op=FangDong_SettlementInfo">结算统计</a>
                        </span>
                        <span>
                            <a class="fl" href="http://www.xiaozhu.com/xzweb.php?op=FangDong_ShowLetter">聊天记录</a>
                            <a class="fr" href="http://www.xiaozhu.com/xzweb.php?op=FangDong_Comment&filterType=waitComment&fkCmtFilter=all">我的点评</a>
                        </span>
                        <span>
                            <a class="fl" href="http://www.xiaozhu.com/xzweb.php?op=FangDong_MyRooms">房源信息</a>
                            <a class="fr" href="http://www.xiaozhu.com/xzweb.php?op=FangDong_MyRentCalendarList">价格房态</a>
                        </span>
                        <span>
                            <a class="fl" href="http://www.xiaozhu.com/xzweb.php?op=FD_DiaryList">短租日记</a>
                            <a class="fr" href="http://www.xiaozhu.com/xzweb.php?op=FangDong_UserInfo">个人资料</a>
                        </span>
                    </div>
                    <div class="pop_column">
                        <a class="pop_T pop_bor" href="http://www.xiaozhu.com/xzweb.php?op=FangKe_Index">房客中心</a>
                        <span>
                            <a class="fl" href="http://www.xiaozhu.com/xz_web2/order/pages/lodger/list.html">我的订单</a>
                            <a class="fr" href="http://www.xiaozhu.com/xzweb.php?op=FangKe_ShowLetter">聊天记录</a>
                        </span>
                        <span>
                            <a class="fl" href="http://www.xiaozhu.com/xzweb.php?op=FangKe_Comment">我的点评</a>
                            <a class="fr" href="http://www.xiaozhu.com/xzweb.php?op=FangKe_UserInfo">个人资料</a>
                        </span>
                        <span class="textCt"><a href="http://www.xiaozhu.com/logout" id="IM-Logout">退出</a></span>
                    </div>
                </div>
            </li>
                                    <li class="current">
                <a href="#ongo" class="openTri_R">短租指南</a>
                <div class="head_pop width_58 top40">
                    <div class="pop_column">
                        <span><a class="fl" href="http://www.xiaozhu.com/xzweb.php?op=Help_UserGuide&type=tenant">房客指南</a><a class="fr" href="http://www.xiaozhu.com/xzweb.php?op=Help_UserGuide&type=landlord">房东指南</a></span>
                    </div>
                </div>
            </li>
            <li>
                <a href="#ongo" class="icon_iphone">手机小猪</a>
                  <div class="head_pop w_120 top40">
                   <div><img src="/images/code_pic.png" alt="小猪" title="小猪"/></div>
                   <a href="http://www.xiaozhu.com/appdownload/fk"  target="_blank">了解更多</a>
              </div>
            </li>
                        <li><a rel="nofollow" data-href="http://www.xiaozhu.com/publish" class="btn_free" id = "Pub_Btn">免费发布房源</a></li>
                    </ul>
    </div>
    <div id="userlogindialog" class="login_register_box" style="display:none;">
    <div class="w_698"> 
        <div class="r_colsed" id="closeUserLoginDialog"><span></span></div>
        <div class="clearfix">
            <div class="r_main_l">
                <ul class="r_tab clearfix">
                    <li class="percent_50 tc cur underL1" id="generalLi">普通登录</li>
                    <li class="percent_50 tc cur" id="mobileLi">短信快捷登录</li>
                </ul>
                <div id="generalLogin">
                    <ul class="register_list">
                        <li>
                            <div class="h_30">&nbsp;</div>
                            <div class="pr">
                                <div class="r_tel_ico"></div>
                                <input type="text" class="r_input_small" id="input-username" autocomplete="off" placeholder="手机号、邮箱" disabled="true">
    </li>
                        <li>
                            <div class="h_30"><div class="r_error_tip" id="input-username-tip"><span class="icon-wrong" id=""></span>手机号未注册</div></div>
                            <div class="pr">
                                <div class="r_password_ico"></div>
                                <input type="password" class="r_input_1" id="password" autocomplete="off"  placeholder="密码" disabled="true">
                                <div class="h_30">
                                    <div class="r_error_tip" id="password-tip"><span class="ipt-text-pass"></span></div>
                                </div>    
                            </div>
                        </li>
                        <span  style="display:none"  id="verify-show">
                        <li>
                            <div class="pr">
                                <div class="r_pho_ico"></div>
                                <input type="text" class="r_input_small" id="image-verify-code" disabled="true" autocomplete="off"  placeholder="图片验证码">
                                <span><img class="r_code change-verify-image" width="101px" height="33px" id="img_imagecodes" title="点击更换验证码" /></span>
                                <div class="h_30">
                                    <div class="r_error_tip" id="image-verify-code-tip"></div>
                                </div>
                            </div>
                        </li>
                        </span>
                    </ul>
                    <a href="###" class="r_input mt_10" id="orgBtn">登录</a>
                    <div class="r_login_space clearfix"><span class="fl cur "><input class="ipt-checkbox2" type="checkbox" id="setcookie" checked="checked" />自动登录</span>
                    <span class="fr col_gray"><a href="http://www.xiaozhu.com/findpwdbyphone">忘记密码?</a></span></div>
                </div>
                <div id="mobileLogin" style="display:none">
                    <ul class="register_list">
                        <li>
                            <div class="h_30">&nbsp;</div>
                            <div class="pr">
                                <div class="r_telepho_ico"></div>
                                <input type="text" class="r_input_1" id="quick-input-mobile" autocomplete="off" placeholder="手机号" disabled="true" >
                            </div>
                        </li>
                        <li>
                            <div class="h_30">
                                <div class="r_error_tip" id="quick-input-mobile-tip"><span class="icon-ok"></span></div>
                            </div>
                            <div class="pr">
                                <div class="r_pho_ico"></div>
                                <input type="text" class="r_input_small" id="quick-image-code" autocomplete="off" placeholder="图片验证码" disabled="true" >
                                <span ><img class="r_code change-verify-image" width="104px" height="33px" id="img_imagecodeMobile" title="点击更换验证码" /></span>
                            </div>
                        </li>
                        <li>
                            <div class="h_30">
                                <div class="r_error_tip" id="quick-image-code-tip"></div>
                            </div>
                            <div class="pr">
                                <div class="r_vali_ico"></div>
                                <input type="text" class="r_input_small" id="quick-activate-code" autocomplete="off" placeholder="动态验证码" disabled="true" >
                                <span class="btn have-nb"  id="quick-get-code-btn">获取动态验证码</span>    
                                <div class="h_30">
                                    <div class="r_error_tip"  id="quick-activate-code-tip"><span class="icon-ok"></span></div> 
                                </div>
                            </div>
                        </li>
                    </ul>
                    <a href="###" class="r_input mt_10" id="orgBtnMobile">登录</a>
                    <p class="mt_10 mt_20">＊验证即登录，未注册将自动创建小猪账号</p>
                </div>
            </div>
            <div class="r_main_r">
                <h5>合作网站账户登录</h5>
<ul class="r_wedsitev1">
    <li>
    <a class="hz_qqv1" href="http://www.xiaozhu.com/xzweb.php?op=GetOpenSnsAuthUrl&snsType=qqzone&state=login&next=http%3A%2F%2Fwww.xiaozhu.com%2Fxzweb.php%3Fop%3DPub_IndexV2Step4%26roomId%3D109396690300%26step%3D4"><i></i>QQ登录</a>
    </li>
    <li>
    <a class="hz_weibov1" href="http://www.xiaozhu.com/xzweb.php?op=GetOpenSnsAuthUrl&snsType=sinaweibo&state=login&next=http%3A%2F%2Fwww.xiaozhu.com%2Fxzweb.php%3Fop%3DPub_IndexV2Step4%26roomId%3D109396690300%26step%3D4"><i></i>微博登录</a>
    </li>
    <li>
    <a class="hz_weixinv1" href="http://www.xiaozhu.com/xzweb.php?op=GetOpenSnsAuthUrl&snsType=weixinopen&state=login&next=http%3A%2F%2Fwww.xiaozhu.com%2Fxzweb.php%3Fop%3DPub_IndexV2Step4%26roomId%3D109396690300%26step%3D4"><i></i>微信登录</a>
    </li>
</ul>                <p>还没有注册？<a href="#" class="col_pink show-register-box" >注册账号&gt;&gt;</a></p>
            </div>
        </div>
    </div>
</div>
<div id="mobilePerfeactInfoDialog" style="display:none;">
    <div class="w_400"> 
        <div class="perfeact-info-content" style="display:none;">
            <div class="r_colsed" id="mobilePerfeactInfoBtn"><span></span></div>
        <div class="r_top_logo">
            <p>首次登录，请完善资料后，开启小猪住宿之旅！</p>
        </div>
        <ul class="register_list">
            <li>
                <div class="h_30">
                    <p class="r_error_tip" style="display:none;"></p>&nbsp;
                </div>
                <div class="pr">
                    <div class="r_tel_ico"></div>
                    <input id="quick-input-username" type="text" placeholder="用户名" autocomplete="off" class="r_input_1">
                </div>
            </li>
            <li>
                <div class="h_30">
                    <p class="r_error_tip" id="quick-input-username-tip">请输入用户名</p>&nbsp;
                </div>
                <div class="pr">
                    <div class="r_password_ico"></div>
                    <input type="password" id="quick-regpassword" autocomplete="off" placeholder="密码" class="r_input_1">
                </div>
            </li>
            <li>
                <div class="h_30">
                    <p class="r_error_tip" id="quick-regpassword-tip">请输入密码</p>&nbsp;
                </div>
                <div class="pr">
                    <div class="r_num_ico"></div>
                    <input id="quick-invitecode" type="text" autocomplete="off" placeholder="邀请码(选填)" class="r_input_1">
                </div>
                <div class="h_30" style="display:none;">
                    <p id="quick-invitecode-tip" class="r_error_tip">邀请码输入有误</p>&nbsp;
                </div>
                <p class="col_fgray r_tip_text">使用朋友给您的邀请码注册后，均可获得300元</p>
            </li>
        </ul>
        <a class="r_input" id="mobileInfoPerfeactBtn" href="#">确定</a>
        <p class="tc mt_20">
            <span class="check_css3 agreeResBox">
                <input type="checkbox"  class="input_check" id="check3">
                <label for="check3"></label>
            </span> 我同意  <a href="http://www.xiaozhu.com/help/service" class="r-service-protocol" target="_blank">《服务协议》、</a><a href="http://www.xiaozhu.com/help/privacy" class="r-service-protocol" target="_blank">《隐私保护声明》</a></p>
        </div>
    </div>
</div>
    <div class="w_698 login_register_box "  style="display:none;" id="registerDialog">
    <div class="r_colsed" id="closeRegiserDialog"><span></span></div>
    <div class="clearfix">
        <div class="r_main_l">
            <ul class="r_tab1 clearfix">
                <li class="fl cur">注册小猪账号</li>
                            </ul>
            <ul class="register_list">
                <li>
                    <div class="h_30">&nbsp;</div>

                    <div class="pr" id="reg">
                        <div class=" r_telepho_ico"></div>
                        <input type="text" id="input-mobile" autocomplete="off" placeholder="手机号" class="r_input_small col_input" value="">
                </li>
                <li>
                    <div class="h_30">
                        <p class="r_error_tip" id="input-mobile-tip">请输入手机号</p>&nbsp;
                    </div>
                    <!--<div class="pr">-->
                        <!--<div class="r_pho_ico"></div>-->
                        <!--<input type="text" placeholder="图片验证码" id="reg-image-code" autocomplete="off" class="r_input_small">-->
                        <!--<span class="r_code"><img class="change-verify-image" id="img_imagecode" title="点击更换验证码" width="101" height="33" /></span>-->
                    <!--</div>-->
                </li>
                <li>
                    <!--<div class="h_30">-->
                        <!--<p class="r_error_tip" id="reg-image-code-tip">请输入图片验证码</p>&nbsp;-->
                    <!--</div>-->
                    <div class="pr">
                        <div class="r_num_ico"></div>
                        <input id="invitecode" type="text"  autocomplete="off" placeholder="邀请码(选填)"  class="r_input_1">
                    </div>
                    <div class="h_30" style="display:none;">
                        <p id="input-invitecode-tip" class="r_error_tip">邀请码输入有误</p>&nbsp;
                    </div>
                    <p class="col_fgray r_tip_text">使用朋友给您的邀请码注册后，你们均可获得300元</p>
                </li>
               <li>
                  <div id="safeCheck"></div>
                  <p id="input-slidecode-tip" class="r_error_tip" style="margin-bottom: 10px">请拖动滑块完成验证</p>
               </li>
            </ul>
            
            <a href="#" id="reg-btn" class="r_input">立即注册</a>
            <p class="mt_20">
                <span class="check_css3 agreeResBox">
                    <input type="checkbox"  class="input_check" id="check3">
                    <label for="check3"></label>
                </span>
                我同意  <a href="http://www.xiaozhu.com/help/service" class="r-service-protocol" target="_blank">《服务协议》、</a><a href="http://www.xiaozhu.com/help/privacy" class="r-service-protocol" target="_blank">《隐私保护声明》</a></p>
        </div>
        <div class="r_main_r">
            <h5>合作网站账户登录</h5>
<ul class="r_wedsitev1">
    <li>
    <a class="hz_qqv1" href="http://www.xiaozhu.com/xzweb.php?op=GetOpenSnsAuthUrl&snsType=qqzone&state=login&next=http%3A%2F%2Fwww.xiaozhu.com%2Fxzweb.php%3Fop%3DPub_IndexV2Step4%26roomId%3D109396690300%26step%3D4"><i></i>QQ登录</a>
    </li>
    <li>
    <a class="hz_weibov1" href="http://www.xiaozhu.com/xzweb.php?op=GetOpenSnsAuthUrl&snsType=sinaweibo&state=login&next=http%3A%2F%2Fwww.xiaozhu.com%2Fxzweb.php%3Fop%3DPub_IndexV2Step4%26roomId%3D109396690300%26step%3D4"><i></i>微博登录</a>
    </li>
    <li>
    <a class="hz_weixinv1" href="http://www.xiaozhu.com/xzweb.php?op=GetOpenSnsAuthUrl&snsType=weixinopen&state=login&next=http%3A%2F%2Fwww.xiaozhu.com%2Fxzweb.php%3Fop%3DPub_IndexV2Step4%26roomId%3D109396690300%26step%3D4"><i></i>微信登录</a>
    </li>
</ul>            <p class="">已有账号？<a href="http://www.xiaozhu.com/login?next=http%3A%2F%2Fwww.xiaozhu.com%2Fxzweb.php%3Fop%3DPub_IndexV2Step4%26roomId%3D109396690300%26step%3D4" id="loginDialogBtn" class="col_pink logindialog">登录&gt;&gt;</a></p>
        </div>
    </div>
</div>
<div class="w_400 login_register_box" id='mobileRegisterInfoDialog' style="display:none;"> 
    <div class="r_colsed" id="closeMobileRegisterInfoDialog"><span></span></div>
    <div class="r_top_tit">
        <h6>验证短信已发送至手机号码</h6>
        <p><span id="codeRecivePhone"></span><span class="col_pink"><a href="#" id="modifyRegisterBtn">(修改)</a></span></p>
    </div>
    <ul class="register_list">
        <li>
            <div class="h_30">&nbsp;</div>
            <div class="pr">
                <div class="r_pho_ico"></div>
                <input type="text" id="activate-code" placeholder="手机验证码" autocomplete="off" class="r_input_small">
                <a href="#ongo" id="get-code-btn" class="have-nb">重新发送</a>
            </div>
        </li>
        <li>
            <div class="h_30">
                <p id="activate-code-tip" class="r_error_tip">请输入手机验证码</p>&nbsp;
            </div>
            <div class="pr">
                <div class=" r_tel_ico"></div>
                <input id="reginput-username" type="text" placeholder="用户名" autocomplete="off" class="r_input_1">
            </div>
        </li>
        <li>
            <div class="h_30">
                <p class="r_error_tip" id="reginput-username-tip">请输入用户名</p>&nbsp;
            </div>
            <div class="pr">
                <div class="r_password_ico"></div>
                <input type="password" id="regpassword" placeholder="密码" autocomplete="off" class="r_input_1">
            </div>
            <div class="h_30">
                <p class="r_error_tip" id="regpassword-tip">请输入密码</p>&nbsp;
            </div>
        </li>
    </ul>
    <a href="#" id="regConfirmBtn" class="r_input mt_10">确认</a>
</div>
<div id="regSuccessDialog" class="reg_success_box login_register_box" style="display:none;">
    <div class="">
        <div class="r_colsed_1" id="closeRegSuccDialogBtn"><span></span></div>
        <div id="regSuccInfo">
        </div>
    </div>
</div></div>            </div>
            <div class='h_top_box'>
                <div class="h_step_box">
                                        <ul class="clearfix">
                        <li></li>                        <li></li>                        <li></li>                                            </ul>
                                        <div class="h_step_cur h_pos1">
                                                <a href="http://www.xiaozhu.com/xzweb.php?op=Pub_Index&roomId=109396690300&step=1" class="h_step1_cur"><span></span></a>
                                                <p>房源信息</p>
                    </div>
                    <div class="h_step_cur h_pos2">
                                                <a href="http://www.xiaozhu.com/xzweb.php?op=Pub_IndexV2Step2&roomId=109396690300&step=2" class="h_step2_cur"><span></span></a>
                                                <p>房源描述</p>
                    </div>
                    <div class="h_step_cur h_pos3">
                                                <a href="http://www.xiaozhu.com/xzweb.php?op=Pub_IndexV2Step3&roomId=109396690300&step=3" class="h_step3_cur"><span></span></a>
                                                <p>配套设施</p>
                    </div>
                    <div class="h_step h_pos4">
                                                <span class="h_step4_cur"></span>
                                                <p>真实照片</p>
                    </div>
                    <div class="h_step h_pos5">
                                                <span class="h_step5"></span>
                                                <p>价格规则</p>
                    </div>
                </div>
            </div>
                        <input type="hidden" id="upi_imgurls"  name="upi_imgurls" value="">
<input type="hidden" id="upi_mainimageurl" name="upi_mainimageurl"  value="">
<input type="hidden" id="degreesParam"  name="degreesParam" value="">
<input type="hidden" id="mainImage" value="" type="">
<input type="hidden" value="" id="room_type"/>
<input type="hidden" id="isLodgeunitShiPai" value="0">
<input type="hidden" id="isNewLodgeunit" value="1">

        <!--
    <div class="h_wrap file_pho_bg mt20">
        <h4 class="h_tit1">请您按如下建议上传房源真实照片</h4>
        <ul class="h_pho_box clearfix">
            <li>
                <div class="room_icon">卧室图示</div>
                <img class="h_img" alt="" src="images/pubsysV2/h_pic1.png"> 
                <p>卧室填写<span>数量</span>需要与照片<span>吻合</span></p>
            </li>
            <li>
                <div class="room_icon">床铺图示</div>
                <img class="h_img" alt="" src="images/pubsysV2/h_pic2.png"> 
                <p>床铺填写<span>数量</span>需要与照片<span>吻合</span><br>
                        床铺<span>拍照完整</span>，床品<span>齐全</span></p>
            </li>
            <li>
                <div class="room_icon">卫浴图示</div>
                <img class="h_img" alt="" src="images/pubsysV2/h_pic3.png"> 
                <p><span>卫浴</span>及<span>地面</span>细节完整</p>
            </li>
            <li>
                <div class="room_icon">厨房图示</div>
                <img class="h_img" alt="" src="images/pubsysV2/h_pic4.png"> 
                <p>厨房需含<span>灶具</span>、<span>台面</span>的整体照片
                    （如可做饭）</p>
            </li>
        </ul>
    </div>
    -->
    
    <div class="showDemoPicture" style="display: block;">
        <!--<img class="h_img" alt="" src="images/pubsysV2/h_pic1.png" style="display: none" id="bedroomDemoPicture">-->
        <!--<img class="h_img" alt="" src="images/pubsysV2/h_pic1.png" style="display: none" id="livingrooomDemoPicture">-->
        <!--<img class="h_img" alt="" src="mages/pubsysV2/h_pic3.png" style="display: none" id="bathroomDemoPicture">-->
        <!--<img class="h_img" alt="" src="images/pubsysV2/h_pic4.png" style="display: none" id="kitchenDemoPicture">-->
        <!--<img class="h_img" alt="" src="images/pubsysV2/h_pic1.png" style="display: none" id="othersDemoPicture">-->
    </div>


    <div class="h_wrap">
                                <h4 class="h_tit">
            <div style="float: left;">房源照片</div>
            <div style="float: right;">
                <div style="float:left;color: #ff0000;margin-right: 35px;display: none" id="pictureWarningTip"><i class="tip_alert"></i><span>照片数量太少，无法排序</span></div>
                <div style="float: right;">
                    <span class="selected_tab_pictureType_span cursorPointer" id="pictureType" repeatClick="false"><i class="select_tab_pictureType selected_tab_pictureType"></i>照片分类</span>
                    <span class="select_tab_pictureSort_span cursorPointer" id="pictureSort" value="0"><i class="select_tab_pictureSort"></i>照片排序</span>
                </div>
            </div>

        </h4>
                <div style="display: block;" id="pictureTypeModules">
        <div class="h_pic_tip">请不要上传修改痕迹明显、拉伸变形、有水印、有联系方式或品牌宣传等内容的照片。<br><span style="color: #ff4081;">请认真查看照片范例和要求说明，避免因为审核不通过而耽误上线时间。</span></div>
        <div class="h_pic_list clearfix filesInputNew" id="group_bedroom" type="bedroom">
            <span style="font-weight: bold">卧室：</span>
            <p id="bedroomDesc" style="color: #757575;">
                                根据你填写的户型和床铺信息，必须上传<span style="color: #ff4081">1间卧室和3张床铺</span>的照片。请确保<span style="color: #ff4081">床单、枕头展示齐全</span>。
                
                <span class="showDemo cursorPointer" data-value="bedroom" data-src="images/pubsysV2/pubsys_v37bedroom.jpg" data-desc="请确保床单、枕头展示齐全">范例></span></p>
            <ul id="imageBox" class='dp_con '>
                                                <li id='thumbnails'>
                    <div id='fileNow'>
                        <input type="file" class="file_input" id="filesInput" multiple>
                        <div class="h_add_pic"></div>
                    </div>
                    <div id='fileWait' style='display:none'>
                        <div class="upload_now"></div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="h_pic_list clearfix filesInputNew" id="group_livingroom" type="livingroom">
            <span style="font-weight: bold">客厅：</span>
            <p style="color: #757575;">建议上传。站在厅角拍摄，视野会更广。<span class="showDemo cursorPointer" data-value="livingroom" data-src="images/pubsysV2/pubsys_v37livingroom.jpg" data-desc="站在厅角拍摄，视野会更广">范例></span></p>
            <ul id="imageBoxLivingroom" class='dp_con '>
                                <li id='thumbnailsLivingroom'>
                    <div id='fileNowLivingroom'>
                        <input type="file" class="file_input" id="filesInputLivingroom" multiple>
                        <div class="h_add_pic"></div>
                    </div>
                    <div id='fileWaitLivingroom' style='display:none'>
                        <div class="upload_now"></div>
                    </div>
                </li>
            </ul>
        </div>


        <div class="h_pic_list clearfix filesInputNew" id="group_bathroom" type="bathroom">
            <span style="font-weight: bold">卫生间：</span>
            <p  style="color: #757575;">必须上传卫生间照片。请确保<span style="color: #ff4081;">马桶卫浴、地面细节完整</span>。<span class="showDemo cursorPointer" data-value="bathroom" data-src="images/pubsysV2/pubsys_v37bathroom.jpg" data-desc="请确保马桶卫浴、地面细节完整">范例></span></p>
            <ul id="imageBoxBathroom" class='dp_con '>
                                <li id='thumbnailsBathroom'>
                    <div id='fileNowBathroom'>
                        <input type="file" class="file_input" id="filesInputBathroom" multiple>
                        <div class="h_add_pic"></div>
                    </div>
                    <div id='fileWaitBathroom' style='display:none'>
                        <div class="upload_now"></div>
                    </div>
                </li>
            </ul>
        </div>


        <div class="h_pic_list clearfix filesInputNew" id="group_kitchen" type="kitchen">
            <span style="font-weight: bold">厨房：</span>
            <p id="kitchenDesc"  style="color: #757575;">
                                                建议上传。<span class="showDemo" data-value="kitchen" data-src="images/pubsysV2/pubsys_v37kitchen.jpg" data-desc="请确保灶具、台面完整">范例></span>
                                <input type="hidden" id="isNeedKitchenPicture" value="no">
            </p>
            <ul id="imageBoxKitchen" class='dp_con '>
                                <li id='thumbnailsKitchen'>
                    <div id='fileNowKitchen'>
                        <input type="file" class="file_input" id="filesInputKitchen" multiple>
                        <div class="h_add_pic"></div>
                    </div>
                    <div id='fileWaitKitchen' style='display:none'>
                        <div class="upload_now"></div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="h_pic_list clearfix filesInputNew" id="group_others" type="others">
            <span style="font-weight: bold">其他：</span>
            <p  style="color: #757575;">建议上传。可以是其他室内空间、物件、小区周边环境等。更多的照片往往能吸引更多的房客。<span class="showDemo cursorPointer" data-value="others" data-src="images/pubsysV2/pubsys_v37others.jpg" data-desc="可以是其他室内空间、物件、小区周边环境等">范例></span></p>
            <ul id="imageBoxOthers" class='dp_con '>
                                <li id='thumbnailsOthers'>
                    <div id='fileNowOthers'>
                        <input type="file" class="file_input" id="filesInputOthers" multiple>
                        <div class="h_add_pic"></div>
                    </div>
                    <div id='fileWaitOthers' style='display:none'>
                        <div class="upload_now"></div>
                    </div>
                </li>
            </ul>
        </div>
        </div>

        <div class="h_wrap" id="pictureSortModules"  style="display: none;">
            <div class="pictureSortTitleDesc">房客浏览房源照片时的展示顺序。按住并拖动照片即可调整</div>
            <div class="h_pic_order_list clearfix" style="padding-top: 20px;">
                <ul class='dp_con ' id="pictureSortAll">
                                                        </ul>
            </div>
        </div>
   </div>

    <div class="w_960 pb20 clearfix">
        <a class="keep_btn" id='picSave' href="###">保存并继续</a>
    </div>

<ul id="imgBig" class="thumb-photo-nav" style="display:none;">
    </ul>
<ul id="imgBigError" class="" style="display:none;"></ul>
<!--照片轮播-->
<div id="lightBoxDialog" class="user_unselectable" style="display:none;">
    <div class="mask"></div>
    <div class="colsed" id="close_photo_box"></div>
    <div class="pic_show_box">
        <div class="big_pic user_unselectable">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td id="bigImage_pic_box">
                        <div class="pr">
                            <div class="rota_bg"></div>
                            <div class="rota_box">
                                <a class="rota_l pos_41"></a>
                                <a class="rota_r pos_82"></a>
                            </div>
                            <img id="curBigPhoto" src="" alt=""/>
                            <input type="hidden" id="curBigPhotoId" value="" />
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="small_pic_box_1 clearfix" id="small_pic_box_father">
        </div>
    </div>
</div>
<!--/照片轮播-->       
<div id="cboxOverlay" class="cboxOverlay"></div>
<div id="colorbox" class="colorbox"></div>
<div id="cutPicture" class="cutPicture"></div>
<div id="bigImage"></div>
<div class="weixin_layer" style="display: none;" id="weixin_layer">
    <i class="wenxin_img"></i>
    <span class="wenxin_text">微信传图</span>
    <i class="wenxin_tip" id="wenxin_tip">展开</i>
</div>
<div class="weixin_con" style="display: none;" id="weixin_con">
    <h4 class="weixin_title">微信传图<span class="weixin_wrong" id="weixin_wrong"></span></h4>
    <div><img src="" style="width:172px;height:172px;"></div>
    <p class="mt_10 f14">照片在手机里？<br>微信扫描二维码，关注后上传</p>
</div>

<div id="editPictureInfoWindow" style="display: none;" class="editPictureWindow">
    <div class="editTitle">编辑照片</div>
    <div>
        <div class="room_img_show_new">
            <!--<a class="img " style="background:url(https://image.xiaozhustatic2.com/00,180,240/14,0,31,2258,1080,1440,8477fed1.jpg) no-repeat center center;" realwidth="1080" realheight="1440" value="14,0,31,2258,1080,1440,8477fed1.jpg" oriwidth="180" oriheight="240" category="duanzu" type="kitchen"></a>-->
        </div>
        <div class="img_right">
            <div class="pictureType">
                <div>照片分类：</div>
                <span class="bedrooomEditPictureType common_room_type cursorPointer" value="bedroom">卧室</span>
                <span class="livingroomEditPictureType common_room_type cursorPointer" value="livingroom">客厅</span>
                <span class="bathroomEditPictureType common_room_type cursorPointer" value="bathroom">卫生间</span>
                <span class="kitchenEditPictureType common_room_type cursorPointer" value="kitchen">厨房</span>
                <span class="othersEditPictureType common_room_type cursorPointer" value="others">其他</span>
            </div>
            <div style="position: relative;">
                <div class="desc_picture_title">照片描述(选填)：</div>
                <textarea cols="30" rows="10" placeholder="描述一下这张照片" class="desc_picture_content" maxlength="50"></textarea>
                <span class="pictureDescNum">0/50</span>
            </div>
            <input type="hidden" value="" class="recordOldType">
            <input type="hidden" value="" class="recordDataId">
        </div>
        <div class="btn_edited_picture">
            <span id="saveInfoTo" class="btn_picture_edit_save cursorPointer">保存</span>
            <span id="cancleInfoShut" class="btn_picture_edit_cancle cursorPointer">取消</span>
        </div>
    </div>
</div>
<div id="demoPictureHigh" style="display: none" class="demoPictureHighClass">
    <span class="closeDemoPicture cursorPointer" id="closeDemoPictureClick"></span>
    <div class="containImg">
    <img src="" alt="" width="830" height="560">
    <span class="demoImageDesc"></span>
    </div>
</div>                        <div class="o_mask" id='mask'  style="display:none;"></div>
        <div class="o_warp" id="dialog"  style="display:none;border:none;"></div>   
        <input type="hidden" value="" id="houseId"/>
        <input type="hidden" value="109396690300" id="roomId"/>
        <input type="hidden" value="" id="userRole">
        <input type="hidden" value="4" id="step">
        <input type="hidden" value="Pub_IndexV2Step4" id="action">
        <input type="hidden" value="" id="commercialLandlord">
            <input type="hidden" value="" id="luId">

        <div class='h_body'>
             
<div class="foot_v2">
        <ul class="foot_ul">
        <li><a class="guide" href="http://www.xiaozhu.com/xzweb.php?op=Help_UserGuide&type=tenant" target="_blank">房客指南</a></li>
        <li><a class="guide icon_fk" href="http://www.xiaozhu.com/xzweb.php?op=Help_UserGuide&type=landlord" target="_blank">房东指南</a></li>
        <li>
            <span class="guide_T">关于我们</span>
            <a href="http://www.xiaozhu.com/aboutus" target="_blank">关于小猪</a>
            <a href="http://app.mokahr.com/apply/xiaozhu/4514" target="_blank">加入我们</a>
            <a href="http://www.xiaozhu.com/contactus" target="_blank">联系我们</a>
        </li>
        <li>
            <span class="guide_T">网站帮助</span>
            <a href="http://www.xiaozhu.com/help/index" target="_blank" >帮助中心</a>
            <a href="http://www.xiaozhu.com/sitemap.html" target="_blank">网站地图</a> 
        </li>
        <li class="width_280">
            <span class="guide_T">网站协议</span><br/>
            <a href="http://www.xiaozhu.com/help/service" target="_blank">服务协议</a> 
            <a href="http://www.xiaozhu.com/help/landlordRule" target="_blank">房东规则</a>
            <a href="http://www.xiaozhu.com/help/tenantRule" target="_blank">房客规则</a>
            <a href="http://www.xiaozhu.com/help/auditRule" target="_blank">房源上线标准</a>
            <a href="http://www.xiaozhu.com/help/privacy" target="_blank">隐私保护</a>
            <a href="http://www.xiaozhu.com/help/copyright" target="_blank">版权声明</a>
            <a href="http://www.xiaozhu.com/help/disclaimer" target="_blank">免责声明</a>
            <a href="http://www.xiaozhu.com/help/intellectualProperty" target="_blank">知识产权声明</a>
            <a href="http://www.xiaozhu.com/help/commentRule" target="_blank">点评发布规则</a>
            <a href="http://www.xiaozhu.com/help/japanReservationRule" target="_blank">日本标准住宅宿泊仲介业约款</a>
        </li>
        <li class="bigFont online_kf">
            <span class=""   onclick='window.open("https://yiconnect.wezhuiyi.com/chat?t=Cks3pxv2eMBfA3BZvdOhS6Pa1am5fygsIHyQRXc0D7U&uid=106084124101&customer=%7B%22cID%22%3A%22106084124101%22%7D","_blank");' ><i></i>在线客服</span>
            <p>客服电话  400 - 010 - 7890</p>
            <p>客服邮箱  service@xiaozhu.com</p>
        </li>
            </ul>
        <dl class="link_dl">
        <dt>城市导航</dt>
        <dd>
            <a target="_blank" href="//bj.xiaozhu.com/">北京短租房</a>
            <a target="_blank" href="//sh.xiaozhu.com/">上海短租房</a>
            <a target="_blank" href="//nj.xiaozhu.com/">南京短租房</a>
            <a target="_blank" href="//cd.xiaozhu.com/">成都短租房</a>
            <a target="_blank" href="//gz.xiaozhu.com/">广州短租房</a>
            <a target="_blank" href="//cq.xiaozhu.com/">重庆短租房</a>
            <a target="_blank" href="//wh.xiaozhu.com/">武汉短租房</a>
            <a target="_blank" href="//dl.xiaozhu.com/">大连短租房</a>
            <a target="_blank" href="//sanya.xiaozhu.com/">三亚短租房</a>
            <a target="_blank" href="//lijiang.xiaozhu.com/">丽江短租房</a>
            <a target="_blank" href="//tj.xiaozhu.com/">天津短租房</a>
            <a target="_blank" href="//xianggang.xiaozhu.com/">香港短租房</a>
            <a target="_blank" href="//cs.xiaozhu.com/">长沙短租房</a>
            <a target="_blank" href="//wx.xiaozhu.com/">无锡短租房</a>
            <a target="_blank" href="//km.xiaozhu.com/">昆明短租房</a>
            <a target="_blank" href="//jn.xiaozhu.com/">济南短租房</a>
            <a target="_blank" href="//xm.xiaozhu.com/">厦门短租房</a>
            <a target="_blank" href="//qd.xiaozhu.com/">青岛短租房</a>
            <a target="_blank" href="//zz.xiaozhu.com/">郑州短租房</a>
            <a target="_blank" href="//xa.xiaozhu.com/">西安短租房</a>
            <a target="_blank" href="//hz.xiaozhu.com/">杭州短租房</a>
            <a target="_blank" href="//sz.xiaozhu.com/">深圳短租房</a>
            <a target="_blank" href="//sy.xiaozhu.com/">沈阳短租房</a> 
            <a target="_blank" href="//su.xiaozhu.com/">苏州短租房</a>
        </dd>
    </dl>
    <dl class="link_dl">
         
    </dl>
                <div class="foot_btm">许可证号：京ICP证140510号 &nbsp;&nbsp; <a href="//www.anquan.org/s/www.xiaozhu.com" |="" name="mt8SMvYyRDI92b06nuDs8dPFapllCJYidqhM1WlOoGRZ9DWpbo" rel="nofollow" target="_blank">安全联盟</a> &nbsp;&nbsp; 北京快跑信息科技有限公司 &nbsp;&nbsp; <a href="http://www.xiaozhu.com/images/yingye.jpg" |="" name="yingyezhizhao" rel="nofollow" target="_blank">营业执照号 103613118</a> <span style="display:none">  &nbsp;&nbsp; 地址：北京市海淀区知春路56号   &nbsp;&nbsp;电话：010-62961978</span>
    </div>
    <div style="margin:0 auto;color:#bdc3c7;">
        <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010802020380" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="/images/govRecord_icon.png"/><p style="display:inline-block;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#bdc3c7;">京公网安备 11010802020380号</p></a>
        &nbsp;&nbsp; 违法和不良信息举报电话：4000107890（1号转6号） &nbsp;&nbsp; 举报邮箱：jubao@xiaozhu.com
    </div>
</div>

<input type="hidden" name="actionName" id="actionName" value="Pub_IndexV2Step4"/>
<input type="hidden" name="xz_srf_token" id="xz_srf_token" value="96328ee4f81f2f0208d5ef62f7d530fe"/>

<script type="text/javascript" src="//jci.xiaozhustatic3.com/e19061701/js/jquery/jquery.js"></script>
<script type="text/javascript" src="//jci.xiaozhustatic1.com/e19061701/xzjs?k=Footer&httphost=www.xiaozhu.com"></script>
<link rel="stylesheet" type="text/css" href="//jci.xiaozhustatic1.com/e19061701/xzcss?css=jquery.mCustomScrollbar,nyroModal,uploadify,shadepage" />
<script type="text/javascript" src="//jci.xiaozhustatic1.com/e19061701/js/jquery/lazyload.js"></script>
<script type="text/javascript" src="http://www.xiaozhu.com/e19061701/js/webimv4/application/xzim4.js?source=xiaozhu&dm=xiaozhu.com" id="webimSource"></script>

        </div>
        <script type="text/javascript" src="//jci.xiaozhustatic1.com/e19061701/xzjs?k=Pub_IndexV2Step4&httphost=www.xiaozhu.com"></script>
</body>
<!-- Google Tag Manager -->
<!-- End Google Tag Manager -->
</html>